name: orm_flutter_ffi
description: FFI implementation of Prisma and Flutter integration query engine, acknowledged by `orm_flutter`.
homepage: https://prisma.pub
repository: https://github.com/medz/prisma-dart

resolution: workspace
version: 0.0.1

funding:
  - https://github.com/sponsors/medz
  - https://opencollective.com/openodroe

environment:
  sdk: ^3.5.0
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.3
  orm: ^5.2.1
  orm_flutter_android: ^0.0.1
  orm_flutter_ios: ^0.0.3
  path_provider: ^2.1.5
  path: ^1.9.0

dev_dependencies:
  flutter_lints: ^5.0.0
  ffigen: ^16.0.0

ffigen:
  name: QueryEngineBindings
  description: |
    Bindings for `query_engine_bridge.h`.

    Regenerate bindings with `dart run ffigen`.
  output: lib/src/_generate_bindings.dart
  language: c
  headers:
    entry-points:
      - ../query_engine_bridge/headers/bridge.h
    include-directives:
      - ../query_engine_bridge/**
  comments:
    style: any
    length: full
  silence-enum-warning: true
  functions:
    exclude:
      - prisma_.*
  globals:
    exclude:
      - PRISMA_.*
