# Files and directories created by pub.
.dart_tool/
.packages

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# Development files or directories.
/prisma/development.dart
/lib/prisma_configurator.dart
/lib/prisma_client.dart
/lib/prisma_client.g.dart
